@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    background-color: #FBFBFB;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    height: 90px;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
    background-color: pink;
}

header ul {
    max-width: 820px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bar {
    gap: 40px;
}

.header-btn {
    color: #000000;
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;

}

.about-card {
    display: flex;
    gap: 24px;
}

.about-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
