@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --color-secondary: #0027D5;
    --color-tag: #FFFFFF;
    --font-weight-bold: 700;
}

body, html {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0;
    background-color: #FBFBFB;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

header {
    height: 90px;
}

.container {
    max-width: 636px;
    margin: 80px auto;
}

header ul {
    max-width: 820px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bar {
    gap: 40px;
}

.header-btn {
    color: #000000;
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;

}

.about-card {
    display: flex;
    gap: 24px; 
}

.about-image {
    width: 50%;
}

.about-title {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-tags {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 4px 0 8px;
}

.subtitle {
    font-size: 24px;
    color: var(--color-secondary);
    font-weight: var(--font-weight-bold);
}

.status {
    background-color: var(--color-secondary);
    color: var(--color-tag);
    padding: 6px 12px;
    border-radius: 40px;
}

h1 {
    font-size: 28px;
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: 28px;
    color: var(--color-secondary);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    margin-bottom: 12px;
}

.code-basement, .framework, .practice, .conclusion, .reading {
    margin-top: 48px;
}

.content-image {
    margin-bottom: 24px;
}

.content-txt {
    margin: 24px 0;
}

.content-txt .advice {
    margin-top: 8px;
}

ol {
    list-style-type: decimal;
    margin-left: 1em;
}

.container ul {
    list-style-type: disc;
    margin-left: 1.5em;
}

.container ul li::marker {
    font-size: 0.5rem;
}

.summary {
    font-weight: var(--font-weight-bold);
    background-color: #EDEDED;
    padding: 24px;
    border-radius: 24px;
}

.conclusion .summary {
    margin: 24px 0;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.page-up, .page-down {
    border: 1px solid #000000;
    padding: 8px 16px;
    border-radius: 40px;
    background-color: #FBFBFB;
    color: #4B4B4B;
}

.footer-contact {
    height: 208px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media {
    display: flex;
    gap: 24px;
}

.social-media i {
    color: var(--color-secondary);
    font-size: 24px;
}

.email a {
    font-size: 32px;    
    color:#000000;
}

.copyright {
    height: 72px;
    text-align: center;
}

.about-image,
.content-image {
    max-width: 100%;
    height: 640px;
    background-size: cover;
    background-position: center;
}

.about-image {
    background-image: url("images/desktop/About\ Section.png");
}

.content-image {
    height: 320px;
} 

.content1 {
    background-image: url("images/desktop/content1.png");
}

.content2 {
    background-image: url("images/desktop/content2.png");
}

.content3 {
    background-image: url("images/desktop/content3.png");
}

.content4 {
    background-image: url("images/desktop/content4.png");
}


@media (max-width: 767px) {
    /* 更換圖片 */
    .about-image,
    .content-image {
        max-width: 100%;
        height: 320px;
    }

    .about-image {
        background-image: url("images/mobile/About\ Section.png");
    }

    .content1 {
        background-image: url("images/mobile/content1.png");
    }

    .content2 {
        background-image: url("images/mobile/content2.png");
    }

    .content3 {
        background-image: url("images/mobile/content3.png");
    }

    .content4 {
        background-image: url("images/mobile/content4.png");
    }

    .about-card {
        flex-direction: column;
    }

    .about-title {
        width: 100%;
        padding: 48px 12px 0px;
    }

    .about-image {
        width: 100%;
    }

    .container {
        padding: 64px 12px;
        margin: 80px auto 0;
    }

    footer .footer-contact {
        display: none;
    }
}
